html, body, .App, #root {
  width: 100%;
  height: 100%;
}

.App {
  margin-top: 100px;
}

h1, h2, h3, h4, h5, p {
  font-family: "Open Sans", sans-serif;
  color: #272727;
}

.navigation {
  position: fixed;
  background-color: white;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #E4E6F3;
  display: flex;
  align-items: center;
  padding: 40px;
  z-index: 20;
  top: 0;
}

.navigation p {
  color: #538EFF;
}

a.logo-nav {
  display: flex;
  align-items: center;
}

a.logo-nav p {
  margin-left: 15px;
  font-weight: 600;
  font-size: large;
}

/** Global Link styling */
a {
  color: rgba(255,255,255,0.7);
}

a:hover{
  color: white !important;
}

.normal-link {
  color: #4183c4;
}

.normal-link:hover {
  color: #538EFF !important;
}


/** Basket Styling */
div.basket-wrapper {
  max-height: 400px;
  overflow-y: scroll;
}

.empty-basket-button {
  text-align: center;
}

.empty-basket-button div {
  width: 100px;
}

.empty-basket-button svg:hover{
  cursor: pointer;
}

.basket-headings th {
  color: rgba(0,0,0,0.6);
  font-weight: bold;
}

.navigation-basket-price {
  color: #538EFF;
  margin-left: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: large;
  font-weight: bold;
}

.navigation-basket-price:hover {
  cursor: pointer;
}

div.sub-basket-container {
  display: flex;
  padding: 5px 5px 0px;
  justify-content: space-evenly;
  margin-top: 10px;
}

@supports (-ms-ime-align:auto) { /* support for Edge */
  div.sub-basket-container {
    justify-content: space-around;
  }

  tr.basket-item-container {
    border-bottom: 1px solid rgb(122, 122, 122);
  }
}

div.basket-cost-container {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
}

tr.basket-item-container {
  border-bottom: 1px solid #00000017;
}

tr.basket-item-container td {
  padding-bottom: 20px;
  padding-top: 20px;
  /* padding-left: 10px; */
  padding-right: 10px;
}

div.basket-item-image {
  background-position: center;
  background-size: cover;
  height: 60px;
  width: 60px;
}

div.basket-header {
  padding: 20px;
}

div.basket-nav-container {
  display: flex;
  margin-left: auto;
  align-items: center;
}

div.basket-container {
  /* width: 400px; */
    /* height: 300px; */
    min-width: 500px;
    background-color: white;
    position: absolute;
    right: 10px;
    top: 60px;
    background: #FFFFFF;
    box-shadow: 0 1px 14px 0 rgba(0,0,0,0.10);
    z-index: 10;
}

table {
  text-align: left;
  width: 100%;
}

table th {
  font-family: "Open Sans";
  color: rgba(39, 39, 39, 0.5);
  font-weight: initial;
}

/** Checkout page styling */
div.checkout-head-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

div.checkout-basket-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}


/** Payment page styling */

/** Payment confirmations tyling */
.confirmation-page-container {
  margin-bottom: 20px;
}

div.payment-confirmation-container {
  padding: 20px;

}

div.payment-confirmation-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

div.payment-form-container {
  max-width: 700px;
  margin: 30px auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ui.form .fields>.field:first-child {
  margin-right: 40px;
}

.ui.form .fields>.field:nth-child(2) {
  margin-left: 40px;
}

/** Button styling for smooth animations on hover */
button {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  display: flex;
}

.general-button {
  padding: 10px;
  border-radius: 5px;
  color: rgba(255,255,255,0.7) !important;
  font-weight: 600;
}

.general-button button {
  padding: 10px;
  border-radius: 5px;
  color: rgba(255,255,255,0.7) !important;
  font-weight: 600;
}

.general-button:hover {
  color: white !important;
}

.general-button:hover button {
  color: white !important;
}

button.button-fade {
  opacity: 0.5;
}

button.button-fade:hover {
  opacity: 1;
  /* transform: scale(1.1);
  box-shadow: 1px 5px 9px #00000017; */
}

button.number-picker {
  font-size: 18px;
  border: 1px solid #00000017;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
}

button.button-enlarge:hover {
  transform: scale(1.1);
  box-shadow: 1px 5px 9px #00000017;
}

button.button-fade > svg {
  fill: #dedfe3;
  /* opacity: 0.5; */
  transition: 0.3s ease-in-out;
}

button.button-fade:hover > svg {
  fill: #2e3437;
  /* opacity: 1; */
}

button.active {
  /* transform: scale(1.1); */
}

button.active > svg {
  fill: #3d59d4;
  opacity: 1;
}

/* -------------------- Confirmation Page styling -------------------- */
.order-summary-details-container {
  width: 100%;
  padding: 20px;
}

div.confirmation-page-content-container {
  margin-top: 30px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.confirmation-page-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}


/* -------------------- Footer styling -------------------- */
.footer {
  background-color: #363841;
  height: 150px;
  width: 100%;
}

.footer p, .footer a, .footer div {
  color: #a3a6b4;
}

.footer-table {
  padding: 10px 20px 10px 20px;
  width: 100%;
  height: 100%;
}

.footer-table td {
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  position: relative;
}

.footer-small-td {
  width: 30%;
}

.footer-large-td {
  width: 40%;
}

.footer-icon {
    transform: scale(0.8);
}

.copyright {
  margin-top: 10px;
  font-size: 70%;
}

/*---------------- Product page ------------------*/
.product-page-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.product-page-title {
  margin-left: 3%;
}

.select-div {
  margin-top: 10px;
  margin-right: 1%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.products-container {
  margin: 0 auto 20px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 1100px;
  min-height: 89%;
}

.filling-empty-space-child {
  width: 250px;
  margin-left: 10px;
  height:0;
}

.select-order-div {
  margin-right: 15px;
  width: 180px;
}

.select-display-div {
  margin-right: 10px;
  width: 150px;
}

/*------------ Item card styling -----------------*/
.card-container-tall {
  margin-top: 20px;
  margin-left: 10px;
  height: 320px;
  width: 250px;
  border: #00000017 solid 2px ;
  border-radius: 10px/10px;
}

.card-container-wide {
  margin-top: 20px;
  margin-left: 10px;
  height: 154px;
  width: 500px;
  border: #00000017 solid 2px ;
  border-radius: 10px/10px;
}

.card-image-div {
  width: 246px;
  height: 150px;
  border-radius: 10px/10px;
}

.card-popup-div {
  width: 560px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px/10px;
}

.card-image {
  max-height: 100%;
  max-width: 100%;
}

.card-title-tall {
  margin: 15px 0 0 10px;
  font-size: 120%;
}

.card-title-wide {
    margin: 10px 0 0 10px;
    font-size: 120%;
}

.card-expiry {
  margin: 2px 0 0 10px;
  font-size: 80%;
  color: rgba(39, 39, 39, 0.5);
}

.card-price-td-tall {
  padding: 20px 0 0 20px;
  font-weight: bold;
  font-size: 200%;
}

.card-price-td-wide {
    padding: 10px 0 0 20px;
    font-weight: bold;
    font-size: 200%;
}

.card-form-td-tall {
  color: rgba(39, 39, 39, 0.5);
  padding-top: 20px;
  font-size: 90%;
}

.card-form-td-wide {
    color: rgba(39, 39, 39, 0.5);
    padding-top: 10px;
    font-size: 90%;
}

.card-add-to-cart {
  margin: 20px 0 0 8px;
  width: 100%;
}

.dropdown-div {
  float: left;
  margin-top: 3px;
}

.add-button-div {
  overflow: hidden;
}

.add-button-div:hover {
  cursor: pointer;
}

.select-quantity-dropdown__control {
  height: 18px;
  width: 90px;
}

.card-add-svg {
  margin-left: -20px;
  transform: scale(0.7);
}
